<section id="post_content">
  <h1 class="pageHeading">Listing Projects</h1>
  
    <% count = 0 %>
    <div class="row">
      <% @projects.each do |project| %>
        <% if count%3 == 0 %>
    </div>
        <% end %>
    <div class="row">
          <a href="<%= project.url %>">
            <div class="col-md-4">
              <h2 class="title"><%= project.name %></h2>
              <figure>
                <%= image_tag project.image.thumb.url%>
                <figcaption>
                  <%= project.description %>
                </figcaption>
              </figure>
              <% if user_signed_in? %>
                  <%= link_to 'Delete', project_path(project), method: :delete, data: { confirm: "Are you sure?"}, class: 'button btn-body' %>
              <% end -%>
            </div>
          </a>
        <% count += 1 %>
      <% end -%>
    </div>

  <% if user_signed_in? %>
  <br>
    <%= link_to 'All Projects', projects_path, class: 'button btn-body' %>
  <% end -%>
</section>
