<section id="post_content">
  <p>
    <strong>Name:</strong>
    <%= @project.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @project.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= @project.image %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= @project.url %>
  </p>

  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>
</section>